*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: black;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif, "bangers";
    color: white;
}
header{
    width: 100%;
    padding: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.logo img{
    width: 100px;
}
ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    transition: 0.3s;
}

a:hover {
    background-color: #cabe17;
    padding: 10px;
    border-radius: 10px;
}

ul li a.active {
    border-bottom: 2px solid yellow;
}
nav ul li a::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: yellow;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s;
}

nav ul li a:hover::after {
    transform: scaleX(1);
}
.profile-icon i{
    width: 40px;
    border-radius: 50%;
    color: white;
}
.synopsis {
    margin-top: 250px; 
    text-align: center;
    align-items: center;
    z-index: 2;
    
}

.synopsis h1 {
    font-size: 60px;
    font-weight: bold;
    color: yellow;
    font-family: "bangers";
}

.synopsis p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
}

.characters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.joker, .batman {
    width: 17%; 
    height: auto;
}