*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: black;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif, "bangers";
    color: white;
}
header{
    width: 100%;
    padding: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.logo img{
    width: 100px;
}
ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    transition: 0.3s;
}

a:hover {
    background-color: #cabe17;
    padding: 10px;
    border-radius: 10px;
}

ul li a.active {
    border-bottom: 2px solid yellow;
}
nav ul li a::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: yellow;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s;
}

nav ul li a:hover::after {
    transform: scaleX(1);
}
.profile-icon i{
    width: 40px;
    border-radius: 50%;
    color: white;
}
.synopsis {
    margin-top: 250px; 
    text-align: center;
    align-items: center;
    z-index: 2;
    
}
.favorites {
    margin-top: 50px;
}

.favorites h1 {
    font-size: 60px;
    font-weight: bold;
    color: yellow;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
}

.favorites-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.favorite-card {
    position: relative;
    width: 300px;
    height: 450px; 
    border-radius: 30px;
    overflow: hidden;
    background-color: yellow;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite-card img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 20px;
}

.favorite-card:hover {
    transform: scale(1.1);
}